<p>
  <tr>
	<td>
	  <%= comment.vaihe %>
	</td>
	<td><%= link_to 'Näytä', [comment.article, comment] %></td>
	<td><%= link_to 'Muokkaa', [comment.article, comment] %></td>
	<td>
	  <%= link_to 'Poista', [comment.article, comment],
				method: :delete,
				data: { confirm: 'Oletko varma?' } %>
	</td>
  </tr>
</table>
</p>